
*{
	margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img-bg{
	background-image: url("bg.JPG"); 
	width: 100%;
	height: 1400px; 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	opacity: 0.8;

}
ul{
	list-style-type: none;
	margin: 0;
	padding: 15px 20px;
	overflow: hidden;
	background-color:#800000;
	opacity: 0.7;
}

li{
	float: left;
	display: inline;
	font-size: 30px;
	padding: 12px;
}

li a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;;
	font-size: 20px;
	letter-spacing: 1px;
	color: white;
}

li a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
}

 .sc {
 	padding: 100px;
	color: white;
 /* position: center;*/
  text-align: center;
}
  h1{
		font-family: Arial Narrow;
		font-weight: bold;
		font-size: 80px;
		color: white;
		letter-spacing: 10px;
	/*	padding: 30px;*/

}
 h2{
	font-size: 40px;
	letter-spacing: 3px;
	font-family: Arial;
	color:white	;	
/*	font-weight: bold;
*/}
.lin{
	display: inline-block; 
	align-self: center;
	height: 5px;
  width: 500px; 
	background-color: white;"
}

.but{
	background-color: #FFFF5A;
	padding: 12px 20px;
	text-align: center;
	color: #d61515;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	letter-spacing: 0.5px;
}

@media (max-width: 700px) {
	.sc h1, h2 {
    	margin: 10px 0px;
    	font-size:60px;
    	/*text-align: center;*/
  }
.sc{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
 .lin{
 	width: 70%;

 }
}

/*
Book area
*/ 
* {
  box-sizing: border-box;
}

.form-inline {  
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 50%;
  padding: 90px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
}


@media (max-width: 700px) {
  .form-inline input {
    margin: 8px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
    align-self: center;
  }
  fieldset{
     flex-direction: column;
    /*align-items: stretch;*/
    align-self: center;
  }
}

.buB{
	display: flex;
	align-items: center;
	justify-content: center; 
}
.bu{
	background-color: #FFFF5A;
	padding: 14px 20px;
	text-align: center;
	color: #d61515;
	border-radius: 3px;
	text-decoration: none;
	letter-spacing: 0.5px;
	width: 100px;
	border: 1px yellow solid;
}




/*
:====================================
:
               C  O  N  T   A  C  T
:
:
*/
.cont{
	width: 500px;
	height: 700px;
	padding: 50px;
	background-color: #FAEBD7;
	color: black;
	text-align: center;
	opacity: 0.8;

}
.contact{
	display: flex;
	align-items: center;
	justify-content: center; 
}
@media only screen (max-width: 600px) {
	img{
		width: 100%; 
	}
	ul{
		width: 170px;
	}
	.contact{
		display: flex;
	    flex-direction: column;
	    width:60%;
	
}


